<h2 class="heading-1">FAQ</h2>

<h3 class="heading-2">How is my Data Protected?</h3>
<p>
  All Consumer Personal Information is encrypted in transit via HTTPS. You can see our secure certificate by clicking
  the lock icon in your browser location bar. We also encrypt all Personal Information at rest when it is stored within
  our database. The encryption keys for data at rest are not stored on this Web App server.
</p>
