<section class="mb-5">
  <h2 class="heading-1">Coming Soon</h2>
  <p>
    Good things are happening here.
  </p>
</section>

<section class="mb-5">
  <h2 class="heading-2">Smaller heading</h2>
  <p>
    Good things are happening here.
  </p>
</section>

<section class="mb-5">
  <h2 class="heading-3">Smaller heading</h2>
  <p>
    Good things are happening here.
  </p>
</section>

<section class="mb-5">
  <h2 class="heading-4">The smallest heading</h2>
  <p>
    Good things are happening here.
  </p>
</section>

<section class="mb-5">
  Stimulus check, say hello:
  <span data-controller="hello">...</span>
</section>

<section>
  <div class="flex flex-row gap-3 mb-3">
    <button class="btn-primary">Main button</button>
    <button class="btn-secondary">Seconary button</button>
  </div>
  <div class="flex flex-row gap-3 mb-3">
    <button class="btn-primary btn-sm">Small btn</button>
    <button class="btn-secondary btn-sm">Small btn</button>
  </div>
  <div class="flex flex-row gap-3">
    <button class="btn-primary bg-red-600 hover:bg-red-700">Altered color</button>
    <button class="btn-secondary bg-teal-500 hover:bg-teal-600">Altered color</button>
    <button class="btn-primary bg-gradient-to-br from-green-400 via-blue-500 to-purple-600 hover:from-green-500 hover:to-purple-700">With Gradient</button>
  </div>

</section>


