<% flash.each do |type, msg| %>
  <% if flash_message_is_cookie_info(msg) %>
    <div class="flex flex-row" role="alert">
      <%= msg %>
      <%= button_to '', saw_cookie_notice_path, method: :post, class: "btn-close", "data-bs-dismiss": "alert", "aria-label": "Close" %>
    </div>
  <% else %>
    <div class="flex flex-row" role="alert">
      <%= msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
<% end %>
